<a href="https://colab.research.google.com/github/CharanPera/Python-files/blob/master/Practise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Read the input as two limits and Print the output as Palindrome count between the two limits
Example #1; Input : 1 10 Output : 9 Example #2: Input : 1 100 Output : 18

In [0]:
a,b=map(int,input().split())
count=0
for i in range(a,b):
  c=str(i)
  if(c==c[::-1]):
    count+=1
print(count)

1 100
18

2. Read the input as number and Print the output as Count of Triangles and Circles in the given number
Example #1 :
Input : 12854 Output : 3

In [0]:

c=0
a=input("enternum")
for i in a:
  if(i=='4'):
    c+=1
  elif(i=='6'):
    c+=1
  elif(i=='8'):
    c+=2
  elif(i=='9'):
    c+=1
print(c)

enternum12854
3

3. The program must accept an integer N the input. The program must print the desired pattern as shown in the Example Input/Output section.
Input Format: The first line contains the value of N. Output Format: The list of lines containing the desired pattern as shown in the Example Input/Output sections.
input:60710
output:
60710
|******
|
|*******
|*
|

In [0]:
a=int(input("enter number"))
b=str(a)
for i in b:
  j=int(i)
  print("|","*"*j)

enter number11785
| *
| *
| *******
| ********
| *****

Question4:(infosys)
input : [1,2,2,5,2,1,3,8,4]
output : 9
condition
1.In the list,assume that there is only one 5 and only one 8
and 8 comes always after 5
2.Return the sum of elements of the list
3.Do not include the elements between 5 and 8

In [0]:
a=[1,2,2,5,2,1,3,4]
c=0
for i in range(len(a)):
  if(a[i]==5):
    j=i
    print(j)
    continue
  elif(a[i]==8):
    k=i
    print(k)
    continue
  else:
    break
for i in range(j):
  c+=a[i]
for i in range(k+1,len(a)):
  c+=a[i]
print(c)

5